*{
    margin: 30px;
}
.btn{
    margin-top: 5px;
}
body{
    background-color: rgb(150, 207, 241);
}
input[type=text]{
    padding: 5px;
    border: 1px solid rgb(109, 107, 107);
    border-radius: 10px;
    width: 30vw;
}